<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.noname.guess.number"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://com.noname.guess.number/com.noname.guess.number.E4LifeCycle">
         </property>
         <property
               name="appName"
               value="com.noname.guess.number">
         </property>
      </product>
   </extension>

</plugin>
